/* Add Hospital Modal */
#addForm {
  display: none; /* hidden by default */
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2000;
}
top-bar{
    position: relative;
    margin-left: 50%;
}

/* Modal box */
.modal-content {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 360px;
  max-width: 95%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  max-height: 85vh;
  overflow-y: auto;
}


#hospitalAddForm input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
}

#hospitalAddForm button {
  margin-right: 10px;
}

/* Suggestion Dropdown */
#adminSearchResults {
  position: absolute;
  top: 100%; /* directly below input */
  left: 0;
  width: 100%; /* match input width */
  max-width: 500px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1500;
}


.suggestion-item {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}

/* Toast */
#toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #2ecc71;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 3000;
}
#toast.show {
  opacity: 1;
  transform: translateY(0);
}
